body
{
  color: #ffffff;
  background:"https://i.pinimg.com/originals/a5/e5/da/a5e5da23a33df0038111ffa99bf064b3.jpg";
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label
{
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 5px;
  color: rgb(248, 104, 152);
  padding: 6px;
  border-radius: 5px;
  background-color: white;
}

button
{
  color: #000000;
}

.btn
{
  background-color: rgb(243, 103, 157);
  color: crimson;
  font-size: larger;
}

p
{
color: rgb(250, 6, 120);
}